.alert {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 250px;
    background-color: white;
    padding: 15px;

}

.alert-text {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}